.search-input{
    transition: 0.2s;
}
.splide__slide img {
    width: 100%;
    height: auto;
}
/* Custom pagination colors */
.pagination-cus {
    --bs-pagination-active-bg: transparent;
    --bs-pagination-active-color: #E41936;
    --bs-pagination-active-border-color: #E41936;
    --bs-pagination-hover-bg: transparent;
    --bs-pagination-hover-color: #E41936;
    --bs-pagination-hover-border-color: #E41936;
}

/* Override default Bootstrap pagination link styles */
.pagination-cus .page-link {
    background-color: white;
    color: #000;  /* Set the default color for non-active items */
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Change background and text color on hover */
.pagination-cus .page-link:hover,
.pagination-cus .page-link:hover i{
    background-color: var(--bs-pagination-hover-bg);
    color: var(--bs-pagination-hover-color)!important;
    border-color: var(--bs-pagination-hover-border-color);
}

/* Active page style */
.pagination-cus .active .page-link {
    background-color: var(--bs-pagination-active-bg);
    color: var(--bs-pagination-active-color) !important;
    border-color: var(--bs-pagination-active-border-color);
}

/* Custom styles for the chevron buttons */
.pagination-cus .page-item:first-child .page-link,
.pagination-cus .page-item:last-child .page-link {
    background-color: white;
    border-color: #ddd;
    padding: 8px 0;
}

.pagination-cus .page-item:first-child .page-link:hover,
.pagination-cus .page-item:last-child .page-link:hover {
    background-color: var(--bs-pagination-hover-bg);
    color: var(--bs-pagination-hover-color);
    border-color: var(--bs-pagination-hover-border-color);
}

